@model TokenStringViewModel

@{
    ViewData["Title"] = "Cabinet View";
    Layout = "~/Views/Import/_Layout.cshtml";
}

@if (!ViewData.ModelState.IsValid)
{
    <div class="alert alert-danger" role="alert">
        @Html.ValidationSummary()
    </div>
}

    <div class="panel panel-primary">
        <div class="panel-heading">
            <h2 class="panel-title">Patients</h2>
        </div>
        <div class="panel-body">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col"><center><b>TokenString</b></center></th>
                    </tr>
                </thead>
                <tbody>
                    @{
                    foreach (var patient in @Model.Patients)
                    {
                        <tr>
                            <td>
                                @Html.Raw(patient)<br />
                            </td>
                        </tr>
                    }
                    }
                </tbody>
            </table>
        </div>
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h2 class="panel-title">Medication Orders</h2>
            </div>
            <div class="panel-body">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col"><center><b>Token String</b></center></th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                        foreach (var medOrder in @Model.MedicationOrders)
                        {
                            <tr>
                                <td>
                                    @Html.Raw(medOrder)<br />
                                </td>
                            </tr>
                        }
                        }
                    </tbody>
                </table>
            </div>
        </div>
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h2 class="panel-title">Not In Formulary</h2>
            </div>
            <div class="panel-body">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col"><center><b>Token String</b></center></th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                        foreach (var item in @Model.NotInFormulary)
                        {
                            <tr>
                                <td>
                                    @Html.Raw(item)<br />
                                </td>
                            </tr>
                        }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
